<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/mes28io/2relay/main/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>T2ik003wbwS1Ulk2THeLKcDJv6eALT/KNmwhh0DUBYc=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUAutomaticallyUpdate</key>
    <true/>
</dict>
</plist>
